        @use 'base/mixins' as m;
        @use 'base/variables' as v;
        .formulario {
            position: relative;
            display: flex;
            width: 35rem;
            padding: 0;
            //max-width: 80rem;
            height: 100%;
            background-color: rgb(12, 236, 162);
            margin: 2rem auto;
        }
        
        table {
            //position: absolute;
            display: flex;
            width: 35rem;
            margin: auto;
            z-index: 9;
        }
        
        tr {
            margin: 2rem auto;
            width: 100%;
        }
        
        td {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            justify-content: center;
            padding: 1rem;
        }
        
        label {
            display: flex;
            justify-content: right;
            align-items: center;
        }
        
        input {
            padding: 1rem;
            font-size: larger;
        }
        
        input[type="text"] {
            font-size: 1.8rem;
        }
        
        input[type="password"] {
            font-size: 1.8rem;
        }
        
        .enviar {
            padding: 1rem;
            font-size: 3rem;
            input {
                background-color: v.$celeste;
                border-color: blueviolet;
                cursor: pointer;
            }
        }
        
        .centro {
            //background-color: rgb(130, 248, 136);
            color: rgb(13, 39, 187);
            display: flex;
            margin: 1rem auto;
            a {
                padding: 0;
            }
        }
        
        .centro-encabezado label {
            font-size: 4rem;
            padding: 0;
        }
        
        a:hover {
            color: rgb(13, 26, 212);
            font-size: 2rem;
            font-weight: 500;
        }