@use 'base/variables' as v;
@use 'base/mixins' as m;
.fin-hoja {
    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    text-align: center;
    background-color: #012f05;
    padding: .5rem;
    border-radius: 5px;
    p {
        color: rgb(8, 247, 8);
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
    }
    span {
        color: white;
        font-size: 1.4rem;
    }
    .redes {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem;
        margin: auto;
        width: 90%;
        //min-height: 6rem;
        background-color: rgb(150, 197, 20);
        @include m.tablet {
            margin: auto;
            width: 60rem;
            height: 6rem;
        }
    }
    a {
        width: 6rem;
        height: 6rem;
        padding: 0;
        margin: auto;
    }
}